localhost {
  log {
    format json
  }

  # Компрессия, Включает сжатие ответов сервера. Это позволяет уменьшить размер передаваемых данных, ускоряя загрузку страниц для пользователей.
  encode zstd

  # Самоподписной сертификат, сервер должен автоматически сгенерировать самоподписной SSL-сертификат
  # Это удобно для локальной разработки, так как позволяет работать с HTTPS без необходимости получения сертификата от стороннего провайдера.
  tls internal

  # Проксирование всех запросов в app:8080
  # app — это имя контейнера в сети Docker Compose (из файла docker-compose.yml), где Caddy и app работают в одной сети.
  # Docker автоматически позволяет контейнерам в одной сети обращаться друг к другу по именам.
  reverse_proxy /* app:8080
}